# Ignore large data files (>15MB)
# Add large CSV files manually with their names

# Virtual environment
venv/
venv

# Large data files to ignore (>50MB)
Data/cases_deaths.csv
Data/vaccinations_global.csv

# Other files to ignore
.DS_Store
__pycache__/
*.pyc
